@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
    
      
}

header{
    background-image: url(../img/background-home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 0 3%;
     
    
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    /* border: 1px solid yellow; */
}
.ul{
   
    display: flex;
    align-items: center;
    padding: 10px;
}
nav>ul>li>a{
    margin: 18px;
    color: white;
}
 
.banner{

    text-align: center;
    align-items: center;
    padding: 18%;

}
.text-banner{
    color: white;
    /* border: 1px solid yellow; */
}
h1{
    font-size: 100px;
}
/* section>div> */p{
    
    font-size: 20px;
    color: #b9b3b3b7;
    margin:2% 0 5% 0;
}
.btn{
    color: white;
    background-color: rgb(47, 129, 252) ;
    padding: 15px;
    border-radius: 10px;
}
a:hover:not(.btn){
    color:rgb(47, 129, 252) ;
    transition: 0.5s;
}
.btn:hover{
    background-color: #255dce ;
    transition: 0.3s;
    
}


/* Conteudo principal */
 .faca-mais{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
     

 }
 .faca-mais2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin: 10%;

 }

  h3{
    font-size: 50px;
  }
 .hr{
    width: 1600px;
    margin: 0 auto;
    border-color: #f0f0f0;
 }
/* fim do Conteudo principal */

/* Cards */
.text-depoimentos{
    text-align: center;
}
.cards{

    border: 1px solid red;
    display: flex;
    justify-content: space-around;

}
.cards-comentarios{

    width: 500px;
    height: 600px;
    background-color: #255dce;
    margin: 5px;
    border-radius: 10px;
}
.cards-img{
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    margin: 0 auto;

}
