*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* HEADER E PESQUISA */
header{
    width: 100%;
    height: 145px;
    background-color: rgb(21, 146, 104);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.busca input{
    border-radius: 5px 0px 0px 5px;
    height: 50px;
    width: 500px;
    float: left;
    text-decoration: none;
}
form>a>img {
    width: 30px;
    padding: 10px;
    background-color: rgb(47, 99, 80);
    border-radius: 0px 5px 5px 0px; 
}


 /* MENU DE NAVEGACAO */
.menu-nave{

    height: 60px;
    width: 100%;
    background-color: black; 
     
}
.menu{
    width: 1000px;
    height: 60px;
    /* background-color: aqua; */
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
}
.menu-nave>div>section>ul{
    display: flex;
}

li{
    text-decoration: none;
}
nav>div>section>ul>a{
    list-style: none;
    text-decoration: none;
    color:white;
    padding: 15px;
}

nav>div>section>a>img{
    width: 20px;
    padding: 10px;
}
.google,li:hover{
     
    color:rgb(3, 236, 127);
}
 
/* CONTEUDO PRINCIPAL */


