*{
    margin: 0;
    padding: 0;
}
header{
    background: url(img/logo.png) no-repeat;
    background-color: rgb(49, 133, 105);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
form{
    float: right;
}