body{
    margin: 0;
     
   
}
header{
    background-image: linear-gradient(to bottom, rgb(43, 4, 61), rgb(142, 22, 240));
    padding: 10px;
    

}
.titulo{
    font-size: 90px;
    
}

header,nav,div,a{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.poesia-1{
    font-family: cursive;
    font-size: 50px;
    padding: 3%;
    text-align: left;
    color: black;
    
}

.poesia-2{
    background-image: linear-gradient(to bottom, rgb(43, 4, 61), rgb(142, 22, 240));
    width: 600px;
    font-family: cursive;
    text-align: left;
    font-size: 50px;
    color: white;
    padding: 3%;
    box-shadow: 1px 1px 10px black ;
    border-radius: 8px;
    
}
.parallax {
 
    background-image: url(img/wallpaper006.jpg);
    background-attachment: fixed;
    padding: 40px;
 
}


